*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: bisque; */
}

header .haut{
    background-color: rgba(201, 47, 47, 0.71);
    height: 60px;
}

header .haut a{
    text-decoration: none;
    display: inline-block;
    margin-left: 12%;
    margin-top: 15px;
    color: #ffffff;
}

header .haut button{
    width: 120px;
    height: 40px;
    margin-left: 10%;
    color: white;
    border: none;
    background-color: rgb(60, 60, 192);
    border-radius: 10px;
}



#Page img{
    width: 100%;
    height: 200px;
}

#Page{
    background-color: #282424;
    width: 100%;
    height: 650px;
    background: url(images/background.jpg);
    background-size: 100% 100%;
    opacity: 0.8;
}

#Page p{
    font-size: 30px;
    color: #ffffff;
    font-family: tahoma;
}

#Page span{
    color: rgb(60, 60, 192);
}



#Page{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  'Roboto', sans-serif;
    
    
}

form{
    margin-top: 30px;
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 15px;
    width: 30%;
    height: 530px;
}

form h1{
    color: rgba(201, 47, 47, 0.71);
    text-align: center;
    margin-bottom: 10px;
}

form .social{
    margin: 20px;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
}

form .social p{
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #000;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}

form p .email{
    text-align: center;
}

form .inputs{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

form .inputs input[type="email"],input[type="password"]{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline: none;
}

form .inscription{
    font-size: 15px;
    margin-bottom: 20px;
    color:#878787 ;
    margin: 30px;
}

form p span{
    color: #eb7371;
}

form button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    background-color: rgba(201, 47, 47, 0.71);
    outline: none;
    cursor: pointer;
}

.barre{
    width: 100%;
    background-color: rgba(39, 68, 173, 0.68);
    height: 60px;
    color: #ffffff;
    font-size: 20px;
    font-family: arial;
    padding: 20px;
    text-align: center;
}

.flote{
    display: flex;
}


.flote .premier{
    width: 50%;
    height: 220px;
    position: relative;
    left: 16%;
    top: 32px;
}

.flote .premier img{
    border: 1px solid rgb(217, 216, 216);
    width: 65%;
    height: 220px;

}

.flote .premier1{
    width: 50%;
    height: 200px;
    position: relative;
    left: 6.4%;
    top: 80px;
   
}

.flote .premier1 img{
    border: 1px solid rgb(217, 216, 216);
    width: 60%;
    height: 250px;
}

.flote .premier2{
    width: 50%;
    height: 200px;
    position: relative;
    right: 5%;
    top: 32px;
   
}

.flote .premier2 img{
    border: 1px solid rgb(217, 216, 216);
    width: 65%;
    height: 220px;
}

.flote h5{
    font-size: 25px;
    margin-left: 150px;
    font-family: arial;
}

.flote .premier1 h5{
    font-size: 25px;
    margin-left: 150px;
    position: relative;
    bottom: 20%;
}

.flote p{
    font-size: 20px;
    margin-left: 140px;
    margin-top: 20px;
}

.premier1 p{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 20px;
    position: relative;
    bottom: 20%;
}

.flote span{
    color: rgba(201, 47, 47, 0.71);
}


.fin .Texte{
    /* display: inline-flex; */
    margin-left: auto;
    margin-right: auto;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(39, 68, 173, 0.68);
    height: 200px;
    margin-top: 12%;
    
}

#societe{
    float: right;
    margin-left: -8%;
}

.Texte h5{
    font-size: 25px;
    font-family: arial;
    color: #e3dfdf;
}

.Texte p{
    font-size: 18px;
    font-family: tahoma;
    margin: 10px;
    color: #ffffff;
}

#recherche input{
 width: 70%;
 height: 30px;
}
   

#recherche button{
    width: 30%;
    height: 30px;
    background-color: rgba(39, 68, 173, 0.68);
    color: #ffffff;
    border: none;
   }
   
.rait1{
    border: 1.5px solid #ffffff;
    margin-top: 20px;
    position: relative;
    top: -15%;
    width: 70%;
    float: left;
    margin-left: 13%;
    
}

#logique{
    background-color:rgba(39, 68, 173, 0.68) ;
}


#logique .icon{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

#logique.icon button{
    list-style: none;
    margin: 10px;
    margin-top: -70px;
}



#logique .icon button i{
    font-size: 3em;
    color: rgba(201, 47, 47, 0.71);
    margin: 5px;
    display: inline-block;
    transition: 0.5s;
}

#logique .icon :hover{
    transform: translateY(-10px);
}

#logique button{
    border: 4px solid rgba(143, 145, 152, 0.68)
    
    ;
    margin: 15px;
    border-radius: 100%;
    width: 3%;
    height: 60px;
}

#logique p{
    text-align: center;
    margin-top: 20px;
    font-family: arial;
    font-size: 20px;
    color: #ffffff;
}






